body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1499px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:541px;
}
#u2088 {
  position:absolute;
  left:78px;
  top:218px;
  width:397px;
  height:541px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:262px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:671px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2090 {
  position:absolute;
  left:0px;
  top:164px;
  width:1339px;
  height:671px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:328px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:360px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2092 {
  position:absolute;
  left:3px;
  top:798px;
  width:1339px;
  height:360px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:172px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:2px;
}
#u2094 {
  position:absolute;
  left:0px;
  top:798px;
  width:1339px;
  height:1px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2096 {
  position:absolute;
  left:38px;
  top:808px;
  width:307px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:322px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2098 {
  position:absolute;
  left:38px;
  top:847px;
  width:812px;
  height:322px;
  font-size:20px;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:433px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2100 {
  position:absolute;
  left:-25px;
  top:1158px;
  width:1367px;
  height:433px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:208px;
  width:1363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:2px;
}
#u2102 {
  position:absolute;
  left:3px;
  top:974px;
  width:1339px;
  height:1px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2104 {
  position:absolute;
  left:38px;
  top:995px;
  width:342px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2106 {
  position:absolute;
  left:38px;
  top:1053px;
  width:536px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  word-wrap:break-word;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2108 {
  position:absolute;
  left:38px;
  top:1119px;
  width:50px;
  height:50px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2110 {
  position:absolute;
  left:88px;
  top:1119px;
  width:50px;
  height:50px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2112 {
  position:absolute;
  left:138px;
  top:1119px;
  width:50px;
  height:50px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2114 {
  position:absolute;
  left:188px;
  top:1119px;
  width:50px;
  height:50px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2116 {
  position:absolute;
  left:238px;
  top:1119px;
  width:50px;
  height:50px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:25px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2118 {
  position:absolute;
  left:38px;
  top:1280px;
  width:291px;
  height:25px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:4px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:25px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2120 {
  position:absolute;
  left:38px;
  top:1214px;
  width:291px;
  height:25px;
}
#u2121 {
  position:absolute;
  left:2px;
  top:4px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2122 {
  position:absolute;
  left:38px;
  top:1195px;
  width:88px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2124 {
  position:absolute;
  left:38px;
  top:1249px;
  width:225px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:80px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2126 {
  position:absolute;
  left:38px;
  top:1361px;
  width:403px;
  height:80px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:32px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2128 {
  position:absolute;
  left:38px;
  top:1329px;
  width:67px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:64px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2130 {
  position:absolute;
  left:188px;
  top:1451px;
  width:304px;
  height:64px;
  font-size:28px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:16px;
  width:300px;
  word-wrap:break-word;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2132 {
  position:absolute;
  left:560px;
  top:396px;
  width:604px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  white-space:nowrap;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:59px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2134 {
  position:absolute;
  left:556px;
  top:532px;
  width:205px;
  height:59px;
  font-size:20px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:18px;
  width:201px;
  word-wrap:break-word;
}
#u2136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:58px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.4);
}
#u2136 {
  position:absolute;
  left:556px;
  top:617px;
  width:205px;
  height:58px;
  font-size:20px;
  color:rgba(255, 255, 255, 0.4);
}
#u2137 {
  position:absolute;
  left:2px;
  top:17px;
  width:201px;
  word-wrap:break-word;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2138 {
  position:absolute;
  left:556px;
  top:696px;
  width:205px;
  height:63px;
  font-size:20px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2140 {
  position:absolute;
  left:927px;
  top:711px;
  width:50px;
  height:50px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u2142 {
  position:absolute;
  left:987px;
  top:716px;
  width:50px;
  height:41px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u2144 {
  position:absolute;
  left:1047px;
  top:713px;
  width:48px;
  height:50px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:97px;
}
#u2146 {
  position:absolute;
  left:884px;
  top:494px;
  width:101px;
  height:97px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:40px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u2148 {
  position:absolute;
  left:867px;
  top:713px;
  width:50px;
  height:46px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2150 {
  position:absolute;
  left:560px;
  top:321px;
  width:50px;
  height:48px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2152 {
  position:absolute;
  left:620px;
  top:321px;
  width:50px;
  height:48px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2154 {
  position:absolute;
  left:680px;
  top:321px;
  width:50px;
  height:48px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2156 {
  position:absolute;
  left:740px;
  top:321px;
  width:50px;
  height:48px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2158 {
  position:absolute;
  left:800px;
  top:321px;
  width:50px;
  height:48px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:42px;
}
#u2160 {
  position:absolute;
  left:1105px;
  top:713px;
  width:59px;
  height:42px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:13px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2162 {
  position:absolute;
  left:846px;
  top:617px;
  width:178px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2164 {
  position:absolute;
  left:1088px;
  top:605px;
  width:173px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:101px;
}
#u2166 {
  position:absolute;
  left:1122px;
  top:494px;
  width:105px;
  height:101px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:42px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2168 {
  position:absolute;
  left:1174px;
  top:707px;
  width:50px;
  height:50px;
}
#u2169 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:276px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2170 {
  position:absolute;
  left:0px;
  top:1525px;
  width:1342px;
  height:276px;
}
#u2171 {
  position:absolute;
  left:2px;
  top:130px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2172 {
  position:absolute;
  left:340px;
  top:1753px;
  width:519px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  white-space:nowrap;
}
#u2174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2174 {
  position:absolute;
  left:48px;
  top:1548px;
  width:157px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2175 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2176 {
  position:absolute;
  left:356px;
  top:1548px;
  width:274px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2177 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2178 {
  position:absolute;
  left:363px;
  top:1595px;
  width:230px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2180 {
  position:absolute;
  left:365px;
  top:1617px;
  width:90px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2182 {
  position:absolute;
  left:363px;
  top:1639px;
  width:92px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2184 {
  position:absolute;
  left:363px;
  top:1661px;
  width:103px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2185 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u2186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2186 {
  position:absolute;
  left:363px;
  top:1681px;
  width:38px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2187 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2188 {
  position:absolute;
  left:363px;
  top:1705px;
  width:174px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2189 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u2190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2190 {
  position:absolute;
  left:363px;
  top:1725px;
  width:147px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2191 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u2192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2192 {
  position:absolute;
  left:741px;
  top:1548px;
  width:166px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2193 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u2194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:39px;
}
#u2194 {
  position:absolute;
  left:741px;
  top:1600px;
  width:51px;
  height:39px;
}
#u2195 {
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2196 {
  position:absolute;
  left:799px;
  top:1646px;
  width:211px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2197 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u2198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u2198 {
  position:absolute;
  left:741px;
  top:1661px;
  width:51px;
  height:50px;
}
#u2199 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2200 {
  position:absolute;
  left:799px;
  top:1712px;
  width:195px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2201 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u2202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:622px;
}
#u2202 {
  position:absolute;
  left:1339px;
  top:273px;
  width:185px;
  height:622px;
}
#u2203 {
  position:absolute;
  left:2px;
  top:303px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:207px;
}
#u2204 {
  position:absolute;
  left:1339px;
  top:895px;
  width:185px;
  height:207px;
}
#u2205 {
  position:absolute;
  left:2px;
  top:96px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:207px;
}
#u2206 {
  position:absolute;
  left:1339px;
  top:1102px;
  width:185px;
  height:207px;
}
#u2207 {
  position:absolute;
  left:2px;
  top:96px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2208 {
  position:absolute;
  left:49px;
  top:1603px;
  width:79px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2209 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2208_ref {
  position:absolute;
  left:120px;
  top:1615px;
  width:1px;
  height:1px;
}
#u2210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2210 {
  position:absolute;
  left:48px;
  top:1625px;
  width:157px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2211 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u2210_ref {
  position:absolute;
  left:197px;
  top:1637px;
  width:1px;
  height:1px;
}
#u2212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2212 {
  position:absolute;
  left:48px;
  top:1645px;
  width:152px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2213 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u2212_ref {
  position:absolute;
  left:192px;
  top:1657px;
  width:1px;
  height:1px;
}
#u2214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2214 {
  position:absolute;
  left:48px;
  top:1667px;
  width:125px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2215 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u2214_ref {
  position:absolute;
  left:165px;
  top:1679px;
  width:1px;
  height:1px;
}
#u2216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2216 {
  position:absolute;
  left:48px;
  top:1689px;
  width:148px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2217 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u2216_ref {
  position:absolute;
  left:188px;
  top:1701px;
  width:1px;
  height:1px;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:2px;
}
#u2218 {
  position:absolute;
  left:0px;
  top:126px;
  width:1339px;
  height:1px;
}
#u2219 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:66px;
  background:inherit;
  background-color:rgba(51, 183, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2220 {
  position:absolute;
  left:0px;
  top:94px;
  width:1339px;
  height:66px;
}
#u2221 {
  position:absolute;
  left:2px;
  top:25px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2222 {
  position:absolute;
  left:29px;
  top:99px;
  width:210px;
  height:54px;
  font-size:20px;
}
#u2223 {
  position:absolute;
  left:2px;
  top:15px;
  width:206px;
  word-wrap:break-word;
}
#u2222_ref {
  position:absolute;
  left:231px;
  top:143px;
  width:1px;
  height:1px;
}
#u2224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2224 {
  position:absolute;
  left:912px;
  top:100px;
  width:210px;
  height:54px;
  font-size:20px;
}
#u2225 {
  position:absolute;
  left:2px;
  top:15px;
  width:206px;
  word-wrap:break-word;
}
#u2224_ref {
  position:absolute;
  left:1114px;
  top:144px;
  width:1px;
  height:1px;
}
#u2226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2226 {
  position:absolute;
  left:692px;
  top:100px;
  width:210px;
  height:54px;
  font-size:20px;
}
#u2227 {
  position:absolute;
  left:2px;
  top:15px;
  width:206px;
  word-wrap:break-word;
}
#u2226_ref {
  position:absolute;
  left:894px;
  top:144px;
  width:1px;
  height:1px;
}
#u2228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2228 {
  position:absolute;
  left:472px;
  top:100px;
  width:210px;
  height:54px;
  font-size:20px;
}
#u2229 {
  position:absolute;
  left:2px;
  top:15px;
  width:206px;
  word-wrap:break-word;
}
#u2228_ref {
  position:absolute;
  left:674px;
  top:144px;
  width:1px;
  height:1px;
}
#u2230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2230 {
  position:absolute;
  left:252px;
  top:99px;
  width:210px;
  height:54px;
  font-size:20px;
}
#u2231 {
  position:absolute;
  left:2px;
  top:15px;
  width:206px;
  word-wrap:break-word;
}
#u2230_ref {
  position:absolute;
  left:454px;
  top:143px;
  width:1px;
  height:1px;
}
#u2232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:2px;
}
#u2232 {
  position:absolute;
  left:0px;
  top:52px;
  width:1339px;
  height:1px;
}
#u2233 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:94px;
  background:inherit;
  background-color:rgba(39, 63, 82, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2234 {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:94px;
}
#u2235 {
  position:absolute;
  left:2px;
  top:39px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:75px;
  background:inherit;
  background-color:rgba(39, 63, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Bold', 'Impact Regular', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
}
#u2236 {
  position:absolute;
  left:21px;
  top:0px;
  width:253px;
  height:75px;
  font-family:'Impact Bold', 'Impact Regular', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
}
#u2237 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u2238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:28px;
  background:inherit;
  background-color:rgba(39, 63, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2238 {
  position:absolute;
  left:144px;
  top:61px;
  width:263px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u2239 {
  position:absolute;
  left:2px;
  top:2px;
  width:259px;
  word-wrap:break-word;
}
#u2240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:25px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2240 {
  position:absolute;
  left:884px;
  top:56px;
  width:291px;
  height:25px;
}
#u2241 {
  position:absolute;
  left:2px;
  top:4px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
}
#u2242 {
  position:absolute;
  left:836px;
  top:50px;
  width:31px;
  height:25px;
}
#u2243 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
}
#u2244 {
  position:absolute;
  left:837px;
  top:0px;
  width:38px;
  height:40px;
}
#u2245 {
  position:absolute;
  left:2px;
  top:12px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u2246 {
  position:absolute;
  left:885px;
  top:6px;
  width:347px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  word-wrap:break-word;
}
#u2248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u2248 {
  position:absolute;
  left:1024px;
  top:15px;
  width:28px;
  height:17px;
}
#u2249 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2250 {
  position:absolute;
  left:1132px;
  top:100px;
  width:200px;
  height:54px;
  font-size:20px;
}
#u2251 {
  position:absolute;
  left:2px;
  top:15px;
  width:196px;
  word-wrap:break-word;
}
#u2250_ref {
  position:absolute;
  left:1324px;
  top:144px;
  width:1px;
  height:1px;
}
#u2252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:541px;
}
#u2252 {
  position:absolute;
  left:71px;
  top:218px;
  width:384px;
  height:541px;
}
#u2253 {
  position:absolute;
  left:2px;
  top:262px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u2254 {
  position:absolute;
  left:556px;
  top:218px;
  width:676px;
  height:114px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u2255 {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  word-wrap:break-word;
}
