body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1499px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:541px;
}
#u2928 {
  position:absolute;
  left:78px;
  top:218px;
  width:397px;
  height:541px;
}
#u2929 {
  position:absolute;
  left:2px;
  top:262px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:671px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2930 {
  position:absolute;
  left:0px;
  top:164px;
  width:1339px;
  height:671px;
}
#u2931 {
  position:absolute;
  left:2px;
  top:328px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:360px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2932 {
  position:absolute;
  left:3px;
  top:798px;
  width:1339px;
  height:360px;
}
#u2933 {
  position:absolute;
  left:2px;
  top:172px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:2px;
}
#u2934 {
  position:absolute;
  left:0px;
  top:798px;
  width:1339px;
  height:1px;
}
#u2935 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2936 {
  position:absolute;
  left:38px;
  top:808px;
  width:307px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2937 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u2938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:322px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2938 {
  position:absolute;
  left:38px;
  top:847px;
  width:812px;
  height:322px;
  font-size:20px;
}
#u2939 {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  word-wrap:break-word;
}
#u2940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:433px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2940 {
  position:absolute;
  left:-25px;
  top:1158px;
  width:1367px;
  height:433px;
}
#u2941 {
  position:absolute;
  left:2px;
  top:208px;
  width:1363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:2px;
}
#u2942 {
  position:absolute;
  left:3px;
  top:974px;
  width:1339px;
  height:1px;
}
#u2943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2944 {
  position:absolute;
  left:38px;
  top:995px;
  width:342px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2945 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u2946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2946 {
  position:absolute;
  left:38px;
  top:1053px;
  width:536px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2947 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  word-wrap:break-word;
}
#u2948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2948 {
  position:absolute;
  left:38px;
  top:1119px;
  width:50px;
  height:50px;
}
#u2949 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2950 {
  position:absolute;
  left:88px;
  top:1119px;
  width:50px;
  height:50px;
}
#u2951 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2952 {
  position:absolute;
  left:138px;
  top:1119px;
  width:50px;
  height:50px;
}
#u2953 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2954 {
  position:absolute;
  left:188px;
  top:1119px;
  width:50px;
  height:50px;
}
#u2955 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2956 {
  position:absolute;
  left:238px;
  top:1119px;
  width:50px;
  height:50px;
}
#u2957 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:25px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2958 {
  position:absolute;
  left:38px;
  top:1280px;
  width:291px;
  height:25px;
}
#u2959 {
  position:absolute;
  left:2px;
  top:4px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:25px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2960 {
  position:absolute;
  left:38px;
  top:1214px;
  width:291px;
  height:25px;
}
#u2961 {
  position:absolute;
  left:2px;
  top:4px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2962 {
  position:absolute;
  left:38px;
  top:1195px;
  width:88px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2963 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2964 {
  position:absolute;
  left:38px;
  top:1249px;
  width:225px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2965 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:80px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2966 {
  position:absolute;
  left:38px;
  top:1361px;
  width:403px;
  height:80px;
}
#u2967 {
  position:absolute;
  left:2px;
  top:32px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2968 {
  position:absolute;
  left:38px;
  top:1329px;
  width:67px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2969 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:64px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2970 {
  position:absolute;
  left:188px;
  top:1451px;
  width:304px;
  height:64px;
  font-size:28px;
}
#u2971 {
  position:absolute;
  left:2px;
  top:16px;
  width:300px;
  word-wrap:break-word;
}
#u2972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2972 {
  position:absolute;
  left:560px;
  top:396px;
  width:604px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2973 {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  white-space:nowrap;
}
#u2974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:59px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2974 {
  position:absolute;
  left:556px;
  top:532px;
  width:205px;
  height:59px;
  font-size:20px;
}
#u2975 {
  position:absolute;
  left:2px;
  top:18px;
  width:201px;
  word-wrap:break-word;
}
#u2976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:58px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.4);
}
#u2976 {
  position:absolute;
  left:556px;
  top:617px;
  width:205px;
  height:58px;
  font-size:20px;
  color:rgba(255, 255, 255, 0.4);
}
#u2977 {
  position:absolute;
  left:2px;
  top:17px;
  width:201px;
  word-wrap:break-word;
}
#u2978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2978 {
  position:absolute;
  left:556px;
  top:696px;
  width:205px;
  height:63px;
  font-size:20px;
}
#u2979 {
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u2980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2980 {
  position:absolute;
  left:927px;
  top:711px;
  width:50px;
  height:50px;
}
#u2981 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u2982 {
  position:absolute;
  left:987px;
  top:716px;
  width:50px;
  height:41px;
}
#u2983 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u2984 {
  position:absolute;
  left:1047px;
  top:713px;
  width:48px;
  height:50px;
}
#u2985 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:97px;
}
#u2986 {
  position:absolute;
  left:884px;
  top:494px;
  width:101px;
  height:97px;
}
#u2987 {
  position:absolute;
  left:2px;
  top:40px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u2988 {
  position:absolute;
  left:867px;
  top:713px;
  width:50px;
  height:46px;
}
#u2989 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2990 {
  position:absolute;
  left:560px;
  top:321px;
  width:50px;
  height:48px;
}
#u2991 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2992 {
  position:absolute;
  left:620px;
  top:321px;
  width:50px;
  height:48px;
}
#u2993 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2994 {
  position:absolute;
  left:680px;
  top:321px;
  width:50px;
  height:48px;
}
#u2995 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2996 {
  position:absolute;
  left:740px;
  top:321px;
  width:50px;
  height:48px;
}
#u2997 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2998 {
  position:absolute;
  left:800px;
  top:321px;
  width:50px;
  height:48px;
}
#u2999 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:42px;
}
#u3000 {
  position:absolute;
  left:1105px;
  top:713px;
  width:59px;
  height:42px;
}
#u3001 {
  position:absolute;
  left:2px;
  top:13px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u3002 {
  position:absolute;
  left:846px;
  top:617px;
  width:178px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u3003 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u3004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u3004 {
  position:absolute;
  left:1088px;
  top:605px;
  width:173px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u3005 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u3006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:101px;
}
#u3006 {
  position:absolute;
  left:1122px;
  top:494px;
  width:105px;
  height:101px;
}
#u3007 {
  position:absolute;
  left:2px;
  top:42px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u3008 {
  position:absolute;
  left:1174px;
  top:707px;
  width:50px;
  height:50px;
}
#u3009 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:276px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3010 {
  position:absolute;
  left:0px;
  top:1525px;
  width:1342px;
  height:276px;
}
#u3011 {
  position:absolute;
  left:2px;
  top:130px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3012 {
  position:absolute;
  left:340px;
  top:1753px;
  width:519px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3013 {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  white-space:nowrap;
}
#u3014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3014 {
  position:absolute;
  left:48px;
  top:1548px;
  width:157px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3015 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u3016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3016 {
  position:absolute;
  left:356px;
  top:1548px;
  width:274px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3017 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u3018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3018 {
  position:absolute;
  left:363px;
  top:1595px;
  width:230px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3019 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u3020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3020 {
  position:absolute;
  left:365px;
  top:1617px;
  width:90px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3021 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u3022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3022 {
  position:absolute;
  left:363px;
  top:1639px;
  width:92px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3023 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u3024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3024 {
  position:absolute;
  left:363px;
  top:1661px;
  width:103px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3025 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u3026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3026 {
  position:absolute;
  left:363px;
  top:1681px;
  width:38px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3027 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u3028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3028 {
  position:absolute;
  left:363px;
  top:1705px;
  width:174px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3029 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u3030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3030 {
  position:absolute;
  left:363px;
  top:1725px;
  width:147px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3031 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u3032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3032 {
  position:absolute;
  left:741px;
  top:1548px;
  width:166px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3033 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u3034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:39px;
}
#u3034 {
  position:absolute;
  left:741px;
  top:1600px;
  width:51px;
  height:39px;
}
#u3035 {
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3036 {
  position:absolute;
  left:799px;
  top:1646px;
  width:211px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3037 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u3038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u3038 {
  position:absolute;
  left:741px;
  top:1661px;
  width:51px;
  height:50px;
}
#u3039 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3040 {
  position:absolute;
  left:799px;
  top:1712px;
  width:195px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3041 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u3042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:622px;
}
#u3042 {
  position:absolute;
  left:1339px;
  top:273px;
  width:185px;
  height:622px;
}
#u3043 {
  position:absolute;
  left:2px;
  top:303px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:207px;
}
#u3044 {
  position:absolute;
  left:1339px;
  top:895px;
  width:185px;
  height:207px;
}
#u3045 {
  position:absolute;
  left:2px;
  top:96px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:207px;
}
#u3046 {
  position:absolute;
  left:1339px;
  top:1102px;
  width:185px;
  height:207px;
}
#u3047 {
  position:absolute;
  left:2px;
  top:96px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3048 {
  position:absolute;
  left:49px;
  top:1603px;
  width:79px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3049 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u3048_ref {
  position:absolute;
  left:120px;
  top:1615px;
  width:1px;
  height:1px;
}
#u3050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3050 {
  position:absolute;
  left:48px;
  top:1625px;
  width:157px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3051 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u3050_ref {
  position:absolute;
  left:197px;
  top:1637px;
  width:1px;
  height:1px;
}
#u3052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3052 {
  position:absolute;
  left:48px;
  top:1645px;
  width:152px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3053 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u3052_ref {
  position:absolute;
  left:192px;
  top:1657px;
  width:1px;
  height:1px;
}
#u3054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3054 {
  position:absolute;
  left:48px;
  top:1667px;
  width:125px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3055 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u3054_ref {
  position:absolute;
  left:165px;
  top:1679px;
  width:1px;
  height:1px;
}
#u3056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3056 {
  position:absolute;
  left:48px;
  top:1689px;
  width:148px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3057 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u3056_ref {
  position:absolute;
  left:188px;
  top:1701px;
  width:1px;
  height:1px;
}
#u3058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:2px;
}
#u3058 {
  position:absolute;
  left:0px;
  top:126px;
  width:1339px;
  height:1px;
}
#u3059 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:66px;
  background:inherit;
  background-color:rgba(51, 183, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3060 {
  position:absolute;
  left:0px;
  top:94px;
  width:1339px;
  height:66px;
}
#u3061 {
  position:absolute;
  left:2px;
  top:25px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3062 {
  position:absolute;
  left:29px;
  top:99px;
  width:210px;
  height:54px;
  font-size:20px;
}
#u3063 {
  position:absolute;
  left:2px;
  top:15px;
  width:206px;
  word-wrap:break-word;
}
#u3062_ref {
  position:absolute;
  left:231px;
  top:143px;
  width:1px;
  height:1px;
}
#u3064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3064 {
  position:absolute;
  left:912px;
  top:100px;
  width:210px;
  height:54px;
  font-size:20px;
}
#u3065 {
  position:absolute;
  left:2px;
  top:15px;
  width:206px;
  word-wrap:break-word;
}
#u3064_ref {
  position:absolute;
  left:1114px;
  top:144px;
  width:1px;
  height:1px;
}
#u3066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3066 {
  position:absolute;
  left:692px;
  top:100px;
  width:210px;
  height:54px;
  font-size:20px;
}
#u3067 {
  position:absolute;
  left:2px;
  top:15px;
  width:206px;
  word-wrap:break-word;
}
#u3066_ref {
  position:absolute;
  left:894px;
  top:144px;
  width:1px;
  height:1px;
}
#u3068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3068 {
  position:absolute;
  left:472px;
  top:100px;
  width:210px;
  height:54px;
  font-size:20px;
}
#u3069 {
  position:absolute;
  left:2px;
  top:15px;
  width:206px;
  word-wrap:break-word;
}
#u3068_ref {
  position:absolute;
  left:674px;
  top:144px;
  width:1px;
  height:1px;
}
#u3070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3070 {
  position:absolute;
  left:252px;
  top:99px;
  width:210px;
  height:54px;
  font-size:20px;
}
#u3071 {
  position:absolute;
  left:2px;
  top:15px;
  width:206px;
  word-wrap:break-word;
}
#u3070_ref {
  position:absolute;
  left:454px;
  top:143px;
  width:1px;
  height:1px;
}
#u3072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:2px;
}
#u3072 {
  position:absolute;
  left:0px;
  top:52px;
  width:1339px;
  height:1px;
}
#u3073 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:94px;
  background:inherit;
  background-color:rgba(39, 63, 82, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3074 {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:94px;
}
#u3075 {
  position:absolute;
  left:2px;
  top:39px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:75px;
  background:inherit;
  background-color:rgba(39, 63, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Bold', 'Impact Regular', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
}
#u3076 {
  position:absolute;
  left:21px;
  top:0px;
  width:253px;
  height:75px;
  font-family:'Impact Bold', 'Impact Regular', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
}
#u3077 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u3078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:28px;
  background:inherit;
  background-color:rgba(39, 63, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u3078 {
  position:absolute;
  left:144px;
  top:61px;
  width:263px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u3079 {
  position:absolute;
  left:2px;
  top:2px;
  width:259px;
  word-wrap:break-word;
}
#u3080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:25px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3080 {
  position:absolute;
  left:884px;
  top:56px;
  width:291px;
  height:25px;
}
#u3081 {
  position:absolute;
  left:2px;
  top:4px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
}
#u3082 {
  position:absolute;
  left:836px;
  top:50px;
  width:31px;
  height:25px;
}
#u3083 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
}
#u3084 {
  position:absolute;
  left:837px;
  top:0px;
  width:38px;
  height:40px;
}
#u3085 {
  position:absolute;
  left:2px;
  top:12px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u3086 {
  position:absolute;
  left:885px;
  top:6px;
  width:347px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u3087 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  word-wrap:break-word;
}
#u3088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u3088 {
  position:absolute;
  left:1024px;
  top:15px;
  width:28px;
  height:17px;
}
#u3089 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3090 {
  position:absolute;
  left:1132px;
  top:100px;
  width:200px;
  height:54px;
  font-size:20px;
}
#u3091 {
  position:absolute;
  left:2px;
  top:15px;
  width:196px;
  word-wrap:break-word;
}
#u3090_ref {
  position:absolute;
  left:1324px;
  top:144px;
  width:1px;
  height:1px;
}
#u3092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:541px;
}
#u3092 {
  position:absolute;
  left:71px;
  top:218px;
  width:384px;
  height:541px;
}
#u3093 {
  position:absolute;
  left:2px;
  top:262px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u3094 {
  position:absolute;
  left:556px;
  top:218px;
  width:384px;
  height:114px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u3095 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
