body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1499px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:541px;
}
#u2592 {
  position:absolute;
  left:78px;
  top:218px;
  width:397px;
  height:541px;
}
#u2593 {
  position:absolute;
  left:2px;
  top:262px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:671px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2594 {
  position:absolute;
  left:0px;
  top:164px;
  width:1339px;
  height:671px;
}
#u2595 {
  position:absolute;
  left:2px;
  top:328px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:360px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2596 {
  position:absolute;
  left:3px;
  top:798px;
  width:1339px;
  height:360px;
}
#u2597 {
  position:absolute;
  left:2px;
  top:172px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:2px;
}
#u2598 {
  position:absolute;
  left:0px;
  top:798px;
  width:1339px;
  height:1px;
}
#u2599 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2600 {
  position:absolute;
  left:38px;
  top:808px;
  width:307px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2601 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u2602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:322px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2602 {
  position:absolute;
  left:38px;
  top:847px;
  width:812px;
  height:322px;
  font-size:20px;
}
#u2603 {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  word-wrap:break-word;
}
#u2604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:433px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2604 {
  position:absolute;
  left:-25px;
  top:1158px;
  width:1367px;
  height:433px;
}
#u2605 {
  position:absolute;
  left:2px;
  top:208px;
  width:1363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:2px;
}
#u2606 {
  position:absolute;
  left:3px;
  top:974px;
  width:1339px;
  height:1px;
}
#u2607 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2608 {
  position:absolute;
  left:38px;
  top:995px;
  width:342px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2609 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u2610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2610 {
  position:absolute;
  left:38px;
  top:1053px;
  width:536px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2611 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  word-wrap:break-word;
}
#u2612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2612 {
  position:absolute;
  left:38px;
  top:1119px;
  width:50px;
  height:50px;
}
#u2613 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2614 {
  position:absolute;
  left:88px;
  top:1119px;
  width:50px;
  height:50px;
}
#u2615 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2616 {
  position:absolute;
  left:138px;
  top:1119px;
  width:50px;
  height:50px;
}
#u2617 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2618 {
  position:absolute;
  left:188px;
  top:1119px;
  width:50px;
  height:50px;
}
#u2619 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2620 {
  position:absolute;
  left:238px;
  top:1119px;
  width:50px;
  height:50px;
}
#u2621 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:25px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2622 {
  position:absolute;
  left:38px;
  top:1280px;
  width:291px;
  height:25px;
}
#u2623 {
  position:absolute;
  left:2px;
  top:4px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:25px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2624 {
  position:absolute;
  left:38px;
  top:1214px;
  width:291px;
  height:25px;
}
#u2625 {
  position:absolute;
  left:2px;
  top:4px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2626 {
  position:absolute;
  left:38px;
  top:1195px;
  width:88px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2627 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2628 {
  position:absolute;
  left:38px;
  top:1249px;
  width:225px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2629 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:80px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2630 {
  position:absolute;
  left:38px;
  top:1361px;
  width:403px;
  height:80px;
}
#u2631 {
  position:absolute;
  left:2px;
  top:32px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2632 {
  position:absolute;
  left:38px;
  top:1329px;
  width:67px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2633 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:64px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2634 {
  position:absolute;
  left:188px;
  top:1451px;
  width:304px;
  height:64px;
  font-size:28px;
}
#u2635 {
  position:absolute;
  left:2px;
  top:16px;
  width:300px;
  word-wrap:break-word;
}
#u2636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2636 {
  position:absolute;
  left:560px;
  top:396px;
  width:604px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2637 {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  white-space:nowrap;
}
#u2638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:59px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2638 {
  position:absolute;
  left:556px;
  top:532px;
  width:205px;
  height:59px;
  font-size:20px;
}
#u2639 {
  position:absolute;
  left:2px;
  top:18px;
  width:201px;
  word-wrap:break-word;
}
#u2640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:58px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.4);
}
#u2640 {
  position:absolute;
  left:556px;
  top:617px;
  width:205px;
  height:58px;
  font-size:20px;
  color:rgba(255, 255, 255, 0.4);
}
#u2641 {
  position:absolute;
  left:2px;
  top:17px;
  width:201px;
  word-wrap:break-word;
}
#u2642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2642 {
  position:absolute;
  left:556px;
  top:696px;
  width:205px;
  height:63px;
  font-size:20px;
}
#u2643 {
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u2644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2644 {
  position:absolute;
  left:927px;
  top:711px;
  width:50px;
  height:50px;
}
#u2645 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u2646 {
  position:absolute;
  left:987px;
  top:716px;
  width:50px;
  height:41px;
}
#u2647 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u2648 {
  position:absolute;
  left:1047px;
  top:713px;
  width:48px;
  height:50px;
}
#u2649 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:97px;
}
#u2650 {
  position:absolute;
  left:884px;
  top:494px;
  width:101px;
  height:97px;
}
#u2651 {
  position:absolute;
  left:2px;
  top:40px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u2652 {
  position:absolute;
  left:867px;
  top:713px;
  width:50px;
  height:46px;
}
#u2653 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2654 {
  position:absolute;
  left:560px;
  top:321px;
  width:50px;
  height:48px;
}
#u2655 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2656 {
  position:absolute;
  left:620px;
  top:321px;
  width:50px;
  height:48px;
}
#u2657 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2658 {
  position:absolute;
  left:680px;
  top:321px;
  width:50px;
  height:48px;
}
#u2659 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2660 {
  position:absolute;
  left:740px;
  top:321px;
  width:50px;
  height:48px;
}
#u2661 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u2662 {
  position:absolute;
  left:800px;
  top:321px;
  width:50px;
  height:48px;
}
#u2663 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:42px;
}
#u2664 {
  position:absolute;
  left:1105px;
  top:713px;
  width:59px;
  height:42px;
}
#u2665 {
  position:absolute;
  left:2px;
  top:13px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2666 {
  position:absolute;
  left:846px;
  top:617px;
  width:178px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2667 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u2668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2668 {
  position:absolute;
  left:1088px;
  top:605px;
  width:173px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2669 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u2670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:101px;
}
#u2670 {
  position:absolute;
  left:1122px;
  top:494px;
  width:105px;
  height:101px;
}
#u2671 {
  position:absolute;
  left:2px;
  top:42px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2672 {
  position:absolute;
  left:1174px;
  top:707px;
  width:50px;
  height:50px;
}
#u2673 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:276px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2674 {
  position:absolute;
  left:0px;
  top:1525px;
  width:1342px;
  height:276px;
}
#u2675 {
  position:absolute;
  left:2px;
  top:130px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2676 {
  position:absolute;
  left:340px;
  top:1753px;
  width:519px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2677 {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  white-space:nowrap;
}
#u2678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2678 {
  position:absolute;
  left:48px;
  top:1548px;
  width:157px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2679 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u2680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2680 {
  position:absolute;
  left:356px;
  top:1548px;
  width:274px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2681 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u2682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2682 {
  position:absolute;
  left:363px;
  top:1595px;
  width:230px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2683 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u2684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2684 {
  position:absolute;
  left:365px;
  top:1617px;
  width:90px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2685 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u2686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2686 {
  position:absolute;
  left:363px;
  top:1639px;
  width:92px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2687 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2688 {
  position:absolute;
  left:363px;
  top:1661px;
  width:103px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2689 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u2690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2690 {
  position:absolute;
  left:363px;
  top:1681px;
  width:38px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2691 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2692 {
  position:absolute;
  left:363px;
  top:1705px;
  width:174px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2693 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u2694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2694 {
  position:absolute;
  left:363px;
  top:1725px;
  width:147px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2695 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u2696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2696 {
  position:absolute;
  left:741px;
  top:1548px;
  width:166px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2697 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u2698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:39px;
}
#u2698 {
  position:absolute;
  left:741px;
  top:1600px;
  width:51px;
  height:39px;
}
#u2699 {
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2700 {
  position:absolute;
  left:799px;
  top:1646px;
  width:211px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2701 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u2702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u2702 {
  position:absolute;
  left:741px;
  top:1661px;
  width:51px;
  height:50px;
}
#u2703 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2704 {
  position:absolute;
  left:799px;
  top:1712px;
  width:195px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2705 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u2706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:622px;
}
#u2706 {
  position:absolute;
  left:1339px;
  top:273px;
  width:185px;
  height:622px;
}
#u2707 {
  position:absolute;
  left:2px;
  top:303px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:207px;
}
#u2708 {
  position:absolute;
  left:1339px;
  top:895px;
  width:185px;
  height:207px;
}
#u2709 {
  position:absolute;
  left:2px;
  top:96px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:207px;
}
#u2710 {
  position:absolute;
  left:1339px;
  top:1102px;
  width:185px;
  height:207px;
}
#u2711 {
  position:absolute;
  left:2px;
  top:96px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2712 {
  position:absolute;
  left:49px;
  top:1603px;
  width:79px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2713 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2712_ref {
  position:absolute;
  left:120px;
  top:1615px;
  width:1px;
  height:1px;
}
#u2714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2714 {
  position:absolute;
  left:48px;
  top:1625px;
  width:157px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2715 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u2714_ref {
  position:absolute;
  left:197px;
  top:1637px;
  width:1px;
  height:1px;
}
#u2716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2716 {
  position:absolute;
  left:48px;
  top:1645px;
  width:152px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2717 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u2716_ref {
  position:absolute;
  left:192px;
  top:1657px;
  width:1px;
  height:1px;
}
#u2718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2718 {
  position:absolute;
  left:48px;
  top:1667px;
  width:125px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2719 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u2718_ref {
  position:absolute;
  left:165px;
  top:1679px;
  width:1px;
  height:1px;
}
#u2720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2720 {
  position:absolute;
  left:48px;
  top:1689px;
  width:148px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2721 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u2720_ref {
  position:absolute;
  left:188px;
  top:1701px;
  width:1px;
  height:1px;
}
#u2722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:2px;
}
#u2722 {
  position:absolute;
  left:0px;
  top:126px;
  width:1339px;
  height:1px;
}
#u2723 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:66px;
  background:inherit;
  background-color:rgba(51, 183, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2724 {
  position:absolute;
  left:0px;
  top:94px;
  width:1339px;
  height:66px;
}
#u2725 {
  position:absolute;
  left:2px;
  top:25px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2726 {
  position:absolute;
  left:29px;
  top:99px;
  width:210px;
  height:54px;
  font-size:20px;
}
#u2727 {
  position:absolute;
  left:2px;
  top:15px;
  width:206px;
  word-wrap:break-word;
}
#u2726_ref {
  position:absolute;
  left:231px;
  top:143px;
  width:1px;
  height:1px;
}
#u2728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2728 {
  position:absolute;
  left:912px;
  top:100px;
  width:210px;
  height:54px;
  font-size:20px;
}
#u2729 {
  position:absolute;
  left:2px;
  top:15px;
  width:206px;
  word-wrap:break-word;
}
#u2728_ref {
  position:absolute;
  left:1114px;
  top:144px;
  width:1px;
  height:1px;
}
#u2730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2730 {
  position:absolute;
  left:692px;
  top:100px;
  width:210px;
  height:54px;
  font-size:20px;
}
#u2731 {
  position:absolute;
  left:2px;
  top:15px;
  width:206px;
  word-wrap:break-word;
}
#u2730_ref {
  position:absolute;
  left:894px;
  top:144px;
  width:1px;
  height:1px;
}
#u2732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2732 {
  position:absolute;
  left:472px;
  top:100px;
  width:210px;
  height:54px;
  font-size:20px;
}
#u2733 {
  position:absolute;
  left:2px;
  top:15px;
  width:206px;
  word-wrap:break-word;
}
#u2732_ref {
  position:absolute;
  left:674px;
  top:144px;
  width:1px;
  height:1px;
}
#u2734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2734 {
  position:absolute;
  left:252px;
  top:99px;
  width:210px;
  height:54px;
  font-size:20px;
}
#u2735 {
  position:absolute;
  left:2px;
  top:15px;
  width:206px;
  word-wrap:break-word;
}
#u2734_ref {
  position:absolute;
  left:454px;
  top:143px;
  width:1px;
  height:1px;
}
#u2736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:2px;
}
#u2736 {
  position:absolute;
  left:0px;
  top:52px;
  width:1339px;
  height:1px;
}
#u2737 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:94px;
  background:inherit;
  background-color:rgba(39, 63, 82, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2738 {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:94px;
}
#u2739 {
  position:absolute;
  left:2px;
  top:39px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:75px;
  background:inherit;
  background-color:rgba(39, 63, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Bold', 'Impact Regular', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
}
#u2740 {
  position:absolute;
  left:21px;
  top:0px;
  width:253px;
  height:75px;
  font-family:'Impact Bold', 'Impact Regular', 'Impact';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
}
#u2741 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u2742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:28px;
  background:inherit;
  background-color:rgba(39, 63, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2742 {
  position:absolute;
  left:144px;
  top:61px;
  width:263px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u2743 {
  position:absolute;
  left:2px;
  top:2px;
  width:259px;
  word-wrap:break-word;
}
#u2744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:25px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2744 {
  position:absolute;
  left:884px;
  top:56px;
  width:291px;
  height:25px;
}
#u2745 {
  position:absolute;
  left:2px;
  top:4px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
}
#u2746 {
  position:absolute;
  left:836px;
  top:50px;
  width:31px;
  height:25px;
}
#u2747 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
}
#u2748 {
  position:absolute;
  left:837px;
  top:0px;
  width:38px;
  height:40px;
}
#u2749 {
  position:absolute;
  left:2px;
  top:12px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u2750 {
  position:absolute;
  left:885px;
  top:6px;
  width:347px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u2751 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  word-wrap:break-word;
}
#u2752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u2752 {
  position:absolute;
  left:1024px;
  top:15px;
  width:28px;
  height:17px;
}
#u2753 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:54px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2754 {
  position:absolute;
  left:1132px;
  top:100px;
  width:200px;
  height:54px;
  font-size:20px;
}
#u2755 {
  position:absolute;
  left:2px;
  top:15px;
  width:196px;
  word-wrap:break-word;
}
#u2754_ref {
  position:absolute;
  left:1324px;
  top:144px;
  width:1px;
  height:1px;
}
#u2756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:541px;
}
#u2756 {
  position:absolute;
  left:71px;
  top:218px;
  width:384px;
  height:541px;
}
#u2757 {
  position:absolute;
  left:2px;
  top:262px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u2758 {
  position:absolute;
  left:556px;
  top:218px;
  width:676px;
  height:114px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u2759 {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  word-wrap:break-word;
}
